body{
    background-color: #E6E4D0;
}
.header{
    background-color: #F0EFE9;
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 25px;
    border-radius: 15px;
    position: fixed;
    top: 25px;
    left: 20px;
    right: 20px;

}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: rgb(153, 153, 153);
    padding: 10px;
    border-radius: 5px;
}

.left-section{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;

}
.middle-section{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right-section{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
.shopping-button{
    font-weight: 600;
    border: solid 2px black;
    padding: 10px;
    border-radius: 8px;
}
button:hover{
    cursor: pointer;
}
.shopping-button:hover{
    background-color: black;
    color: white;
}
.content{
    align-items: center;
    justify-items: center;
    padding-top: 200px;

}
.content-paragraph{
    font-size: 28px;
    margin-bottom: 35px;
}
.button-div{
    align-items: center;
    margin-top: 100px;
    margin-left: 400px
}
.login-button{
    background-color: black;
    color: white;
    padding:14px 95px 14px 95px;
    border-radius: 15px;
    margin-right: 8px;
}
.register-button{
    background-color: black;
    border-radius: 15px;
    color: white;
    padding: 14px 95px 14px 95px;
}
.email-input{
    padding: 13px 90px 13px 90px;
    border: solid grey;
    border-radius: 15px;
    margin-top: 15px;
}